.App {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  background-size: cover;
  color: var(--text-color);
  font-family: var(--font-family);
}
