.container{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   margin-top: 3%;
   padding: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-image: linear-gradient(-225deg, #b26845 0%, #ac6b16 52%, #d6a955 100%);
   min-height: 100%;
   overflow: hidden;
   box-shadow: 1px 1px 20px hsl(37, 97%, 15%);
}
h1{
   color:#f0bb0c
}

.label{
   color: rgb(255, 255, 255);
   padding: 1rem 0;
   text-align: center;
   text-transform: uppercase;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.5rem;
   letter-spacing: .8px;
}
.inputTitle, .inputImage{
   width: 80%;
   height: 30px;
   padding: 6px 10px;
   background-color: #fff;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 1px 1px 15px hsl(37, 25%, 52%);
}

.inputHealthscore{
   width: 10%;
   height: 30px;
   padding: 6px 10px;
   background-color: #fff;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 1px 1px 15px hsl(37, 25%, 52%);
}
.textSummary{
   width: 80%;
   height: 60px;
   padding: 6px 10px;
   background-color: #fff;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 1px 1px 15px hsl(37, 25%, 52%);
}
.textAreaInstructions{
   width: 80%;
   height: 80px;
   padding: 6px 10px;
   background-color: #fff;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 1px 1px 15px hsl(37, 25%, 52%);
}

.inputCheckbox{
   width: 100%;
   display: flex;
}

.button{
   width: 20em;
   height: 3em;
   background-color: #a34519;
   color: white;
   margin-top: 2rem;
   border-radius: 5px;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 1px 1px 15px hsl(37, 87%, 22%);
}
.text{
   height: 80px;
}

.errors{
   color: red;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.5em;
}