.totalContainer {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.title {
  color: var(--color-text-white);
}
.containerImage {
  margin-top: 0;
  border-radius: 2px;
  width: 40%;
  height: 100vh;
  align-items: center;
  /* border: 1px solid red; */
}

.image {
  width: 100%;
  border-radius: 2px;
  margin-top: 3em;
  overflow: hidden;
  box-shadow: 3px 3px 5px #5c5c5c;
}

.textContainer {
  display: flex;
  width: 60%;
  padding: 2em;
  flex-direction: column;
  height: 100%;
  margin-top: 5em;
  margin-right: 1em;
  border-radius: 2px;
  align-items: center;
  font-size: 1em;
  color: var(--color-text-white);
  text-align: justify;
  background-image: linear-gradient(
    -225deg,
    #ffffff4d 0%,
    #313030 52%,
    #524f56 100%
  );
  min-height: 100%;
  overflow: hidden;
  box-shadow: 3px 3px 5px #5c5c5c;
}
.h2 {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  padding: .3em;
}
.p {
   width: 100%;
  font-size: 1em;
  padding-inline: .8em;
}