.container{
 
   border-radius: 10px;
   width: 30%;
   height: 60%;
   display: flex;
   flex-direction: column;
   gap: .5em;
   margin-bottom: 2em;
   cursor: pointer;
   backface-visibility: visible;
   background-color: whitesmoke;
   overflow: hidden;
   box-shadow: 1px 1px 20px hsl(37, 97%, 15%);

}

.image{
   width: 100%;
   border-radius: 4px;
   display: flex;
   align-items: center;
   overflow: hidden;
   padding: 0%;
   height: 100%;
   position:relative;
}
.informationCard{
  align-items: center;
  height: 100%;
  position:relative;
  padding: 0;
  
  /* border: 1px solid red; */
}
.informationCard:hover{
   background-color: rgba(255, 228, 196, 0.315);
   opacity: 1.0 ;
}

.name{
   padding: .5em;
}
.containerDiets{
   display: flex;
   flex-direction: row;
 
}
.dietsTitle{
   /* border: 1px solid red; */
   margin: 1em;
   padding: .8em;
}
.diets{
   /* border: 1px solid green; */
   list-style-type: none;
   width: 50%;
   padding: 0%;
   text-align: left;
}