.containerSearchBar{
   position: relative;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   width: 25em; 
   height: 2.3em;
   /* border: 1px solid red; */
}
.inputSearchBar{
   box-sizing: border-box;
   color: #191919;
   padding: 0 1em;
   height: 2.5em;
   width: 80%;
   border-radius: 3px;
}
.buttonSearchBar{
   cursor: pointer;
   width: 19%;
   height: 2.4em;
   color: var(--color-text-red);
   font-weight: bold;
 }
 .buttonSearchBar:hover{
   background-color: var(--button-background);
   color: var(--color-text-white)
 }