.nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.ul{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   height: 50%;
   gap: .5em;
}
.buttonPage{
   --size: 32px;
   --margin: 6px;
   margin: 0 var(--margin);
   border-color: #74501b;
   border-radius: 6px;
   background: #b69754;
   max-width: auto;
   min-width: var(--size);
   height: var(--size);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding: 0 6px;
}
.buttonPage:hover {
     background: lighten(#202020, 3%);
   }